*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "specimen" serif;
}
h1 {
    font-size: 50px;
    line-height: 1;
    color: black;
}

h2 {
    text-align: center;
    font-size: 30px;
    line-height: 1;
    color: black;
}

h4 {
    text-align: justify;
    font-size: 40px;
    color: purple;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h6 {
    font-size: 17px;
    font-weight: 700;
}

p{
    font-size: 10px;
    color: black;
    margin: 15px 0 20px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: purple;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: 0.2s;

}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: white;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid white;
    transition: 0.2s;
}

body {

    width: 100%;
}

/*********************** Header ************************************/

#Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 200px 80px;
    background-color: white;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.6);
    z-index: 9;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li a,
#navbar li a.active {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: black;
    transition: 1s ease;
}
#navbar li a:hover,
#navbar li a.active {
    color: palevioletred;
}

#navbar li a.active::after
#navbar li a:hover::after {
    content: """";
    width: 40px;
    height: 1px;
    background-color: darkgreen;
    position: absolute;
    bottom: -1px;
    left: 20px;
    
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

/************************** Home page**********************************/

#hero  {
    background-image: url(Images/tech.jpg);
    background-size: cover;
    position: relative;
    height: 80vh;
    width: 100%;
    padding: 0 80px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    

}

p{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    margin: 15px 0 20px 0;
}


#hero h1 {
    color: white;
}

#hero button:hover {
    background-color: white;
    color: #04aa6d;
}

#hero button {
    background-color: #45a049;
    color: white;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 30px 10px 30px;
}


    
/* Style inputs with type="text",
select elements and text areas */
input[type=text], select, textarea
{
    
    width: 100px;
    padding: 12px; 
    /* some padding */
    border: 1px solid palevioletred; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* bottom margin */
    resize: vertical; /* Allow the user to resize the text area (not horizontally) */
}


/* style the submit button with a specific background color */
input[type=submit] {
    background-color: purple
    color purple
    padding 12px 20px
    border none
    border-radius 4px
    cursor pointer;

}

/* when moving the mouse over the submit button add a darker green
color */
input[ type=submit] :hover {
    background-color: purple;
}

/*add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: palevioletred;
    padding: 20px;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 80px;
    background-color: white;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.6);
    z-index: 9;
    
    top: 0;
    left: 0;
}


    
    













    
